{% extends "base.html" %}
{% load markup %}

{% block title %} {{portfolio.author}} {{portfolio.name}} {% endblock %}

{% block header %}

    <div id="about">
        <a href="#about" class="scroll">
        <div class="prt-title-blk clearfix"> 
            <h4 class="prt-author">{{portfolio.author}}</h4>
            <h1 class="prt-name">{{portfolio.name}}</h1>
        </div>
    </a>
    </div>

    <nav class="min"> 
        <ul class="prt-nav">
        {% for Project in portfolio.projects.all %}
        <li class="prt-nav-link clearfix">
            <a class="scroll"  href="#{{Project.slug}}">
                <div class="thumb" style="background-image:url('{{Project.media_set.all.0.thumbnail.url}}');" /></div>
                <span class="prt-nav-link-name name">{{Project.name}}</span>  
            </a>
        </li>
            
        {% endfor %}
        </ul>
    </nav>  
    
{% endblock %}

{% block content %}
    <article class="prt-intro">
        {{ portfolio.intro|markdown }}
    </article>
    <section class="prt-projects">
    {% for Project in portfolio.projects.all %}
    <article class="prt-project clearfix" id="{{Project.slug}}" > 
            <p class="prt-project-dates dates">
                <span class="project-start-date date">{{Project.start_date|date:"M Y"}}</span> -
                <span class="project-end-date date">{{Project.end_date|date:"M Y"}}</span>
            </p>

            <ul class="associations">
            {% for Association in Project.associations.all %}
                <li><h4 class="prt-project-assc">{{Association.name}}</h4>
                {% if Project.associations.all|length > 1 and forloop.counter < Project.associations.all|length %}&{% endif %}
                </li>
            {% endfor %}
            </ul> 
            
           
            
            <h2 class="prt-project-name name">
                <a href="{{BASE_URL}}#{{Project.slug}}">{{Project.name}}</a>
            </h2>
            <span class="prt-project-summary summary">
                {{ Project.summary|markdown }} 
            </span>

            <img class="prt-project-image" src="{{Project.media_set.all.0.medium.url}}"/> 
           <ul class="prt-project-acts acts">
             <li class="intro"> What I Did: </li>      
            {% for Activity in Project.activities.all %}
            <li class="project-act act"><span class="name">{{Activity.name}}</span>
                {% if Project.activities.all|length > 1 and forloop.counter < Project.activities.all|length and forloop.revcounter0 != 1 %},{% endif %}
                {% if Project.activities.all|length > 1 and forloop.revcounter0 == 1 %} &{% endif %}</li>
            {% endfor %}
            </ul>
            
            {% if Project.people.all|length > 1%}  
            <ul class="prt-project-people people">
                <li class="intro"> Who I worked with: </li>  
            {% for People in Project.people.all %}
            <li class="project-person person">
                {%if People.url %}<a href="{{People.url}}" target="_blank">{%endif%}
                <span class="name">{{People.name}}</span>
                {%if People.url %}</a>{%endif%}

                {% if Project.people.all|length > 1 and forloop.counter < Project.people.all|length and forloop.revcounter0 != 1 %},{% endif %}
                {% if Project.people.all|length > 1 and forloop.revcounter0 == 1 %} &{% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %} 
            <span class="prt-project-description description">
                {{ Project.description|markdown }}
            </span>
           
            </article>
    {% endfor %}
    </section>
{% endblock %}

{% block footer %}
    {{ portfolio.footer|markdown }}
{% endblock %}
