{% extends "base.html" %}
{% load markup %}
{% load oembed_tags %}


{% block title %} {{portfolio.author}} {{portfolio.name}} {% endblock %}

{% block header %}

    <div id="about">
         <h1 class="prt-name">{{portfolio.name}}</h1>
         <article class="prt-intro">
            {{ portfolio.intro|markdown }}
        </article>
    </div>

    <nav id="quick-nav" class="hide">
        <a href='#' id="quick-nav-toggle"> Min </a> 
        <ul >
        <a href="#about" class="scroll" ><h4 class="prt-name">{{portfolio.name}}</h4></a>
        {% for Project in portfolio.projects.all %}
        <li class="prt-nav-link clearfix">
            <a class="scroll"  href="#{{Project.slug}}">
                <span class="prt-nav-link-name name">{{Project.name}}</span>  
            </a>
        </li> 
        {% endfor %}
        </ul>
    </nav> 
    
    <nav id="prt-gallery" class="clearfix"> 
        <ul >
        {% for Project in portfolio.projects.all %}
        <li class="prt-gallery-itm clearfix">
            <a class="scroll"  href="#{{Project.slug}}">
                <div class="thumb" style="background-image:url('{%if Project.thumbnail %} {{Project.thumbnail.url}} {% endif%}');" /></div>
                <div class="popup"> {{Project.end_date|date:"Y"}} {{ Project.summary|markdown }}  </div>
                <span class="prt-nav-link-name name">{{Project.name}}</span>  
            </a>
        </li> 
        {% endfor %}
        </ul>
    </nav> 
    
{% endblock %}

{% block content %}
   
    <section id="prt-projects">
    {% for Project in portfolio.projects.all %}
    <article class="prt-project clearfix" id="{{Project.slug}}" > 
            
            <h4 class="prt-project-assc assc">
                {% for Association in Project.associations.all %}
                    {{Association.name}}
                    {% if Project.associations.all|length > 1 and forloop.counter < Project.associations.all|length %}&{% endif %}
                {% endfor %}<span class="project-end-date date">,  {{Project.end_date|date:"Y"}}</span>
            </h4>    
             
            <h2 class="prt-project-name name">
                <a href="{{BASE_URL}}#{{Project.slug}}">{{Project.name}}</a>
            </h2>
           
            <div class="prt-project-summary summary">
                {{ Project.summary|markdown }} 
            </div>
            
            <div class="prt-slideshow">
            {% for Media in Project.media_set.all %}
               {% if Media.video.url %}
                <div class="slide">
                    {% oembed 800x400 %}
                        {{ Media.video.url }}
                    {% endoembed %} 
                </div>   
               {% endif %}
               {% if Media.photo.medium %} 
                 <div class="slide">
                    <img src="{{Media.photo.medium.url}}" />
                 </div>
               {% endif %}
            {% endfor %}
            </div>

           <ul class="prt-project-acts acts">
             <li class="intro"> What I Did: </li>      
            {% for Activity in Project.activities.all %}
            <li class="project-act act"><span class="name">{{Activity.name}}</span>
                {% if Project.activities.all|length > 1 and forloop.counter < Project.activities.all|length and forloop.revcounter0 != 1 %},{% endif %}
                {% if Project.activities.all|length > 1 and forloop.revcounter0 == 1 %} &{% endif %}</li>
            {% endfor %}
            </ul>
            
            {% if Project.people.all|length > 1%}  
            <ul class="prt-project-people people">
                <li class="intro"> Who I worked with: </li>  
            {% for People in Project.people.all %}
            <li class="project-person person">
                {%if People.url %}<a href="{{People.url}}" target="_blank">{%endif%}
                <span class="name">{{People.name}}</span>
                {%if People.url %}</a>{%endif%}

                {% if Project.people.all|length > 1 and forloop.counter < Project.people.all|length and forloop.revcounter0 != 1 %},{% endif %}
                {% if Project.people.all|length > 1 and forloop.revcounter0 == 1 %} &{% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %} 
            <span class="prt-project-description description">
                {{ Project.description|markdown }}
            </span>
           
            </article>
    {% endfor %}
    </section>
{% endblock %}

{% block footer %}
    {{ portfolio.footer|markdown }} 
{% endblock %}
